.in-container {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.middle > figcaption {
    text-align: center;
    max-width: 380px;
}

.middle {
    max-width: 400px;
    line-height: 30px;
    margin-top: 75px;
}

.step {
    max-width: 400px;
    line-height: 30px;
    background-color: antiquewhite;
    padding: 20px;
    height: 537px;
    margin-top: 75px;
    border-radius: 20px;
}

.ingredient {
    max-width: 400px;
    line-height: 30px;
    background-color: antiquewhite;
    padding: 20px;
    height: 537px;
    margin-top: 75px;
    border-radius: 20px;
}
img {

    border-radius: 20px;

    width: 380px;
    line-height: 30px;
}
