.center {
    display: flex;
    justify-content: center;
  }

h1, h3 {
    text-align: center;
}

h3 {
    margin-bottom: 50px;
}

img {
    border-radius: 20px;
}

img:hover {
    transform: scale(1.1);
    transition: 1s;
}